.container {
  display: block;
  padding: 20px 35px;

}

.box {

  padding: 10px 20px;
  background: pink;
}

a {
  padding: 10px;

}

.search {
  padding: 10px;
  text-align: center;
}

input {
  width: 40%;
  height: 30px;
}

.searchButton {
  /* text-align: center; */
  display: flex;
  justify-content: center;

}

button {
  width: 70px;
}